
.current-weather {
  width: 100%; 
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
  }
  
  .current-weather h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .current-weather p {
    font-size: 16px;
    margin: 8px 0;
    color: #555;
  }
  
  .current-weather img {
    max-width: 120%;
    height: auto;
    margin-top: 10px;
  }
  
  @media screen and (max-width: 600px) {
    .current-weather {
      max-width: 100%;
    }
  }
  